.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #fff;
}

h1 {
  margin: 30px;
  font-family: "Bebas Neue", sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #70d6ff;
}

p {
  font-size: 2rem;
  color: #70d6ff;
  font-family: "Bebas Neue", sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: sans-serif;
}
